<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      window.addEventListener("message", function (e) {
        console.log(e.data); // { parentData : 'test parent data' }
        console.log("e.origin : " + e.origin); //http://abc.com(부모창 도메인)
      });
    </script>
  </head>
  <body>
    This is
  </body>
</html>
