.main {
    position: absolute;
    top: 0;
    left: 7.1rem;
    right: 0;
    height: 100vh;
    font-size: 1.5rem;
    overflow: hidden;
    font-family: 'Whitney-semibold', sans-serif;
}
.main__header {
    display: flex;
}
.main__header-sidebar {
    display: flex;
    min-width: 24rem;
    flex: 0 0 16.45%;
    height: 4.8rem;
    background-color: #2c2f33;
    color: #fff;
    align-items: center;
    padding: 0.58rem 1.5rem 0.58rem 2.25rem;
    font-size: 1.7rem;
    border-bottom: 1px solid #23272a;
}
.main__header-currentchannel {
    letter-spacing: 0.75px;
    margin-right: auto;
    font-family: "Whitney-semibold", sans-serif;
}
.main__header-expandicon {
    cursor: pointer;
}
.main__header-chatbar {
    flex: 1;
}
.main__header--chat {
    width: 100%;
    height: 100%;
}
.main__content {
    display: flex;
    height: 93vh;
}
